In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import os

In [3]:
path = '.\data\\'

In [17]:
def read_csvs(path: str) -> pd.DataFrame:

    """Take a path argument and use the list of files using the os.walk function 
    to read all the files and concatenate them into a single dataframe"""

    files = [files for (root, dir, files) in os.walk(path)][0]

    data = pd.DataFrame()

    for file in files:
        data_ = pd.read_csv(path+file)
        data = pd.concat([data, data_], axis=0)

    return data

In [18]:
data = read_csvs(path)
data.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Condition,Appearance,Storage,Crop,Repack,Trans Mode,Offerings,Market Tone,Price Comment,Comments
0,PUMPKINS,ATLANTA,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,140.0,154.75,...,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN
1,PUMPKINS,ATLANTA,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,145.0,154.75,...,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN
2,PUMPKINS,ATLANTA,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150.0,154.75,...,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN
3,PUMPKINS,ATLANTA,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150.0,150.00,...,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN
4,PUMPKINS,ATLANTA,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,10/01/2016,140.0,154.75,...,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1757 entries, 0 to 102
Data columns (total 29 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Commodity Name   1757 non-null   object
 1   City Name        1757 non-null   object
 2   Type             45 non-null     object
 3   Package          1757 non-null   object
 4   Variety          1752 non-null   object
 5   Sub Variety      296 non-null    object
 6   Grade            0 non-null      float64
 7   Date             1757 non-null   object
 8   Low Price        1757 non-null   float64
 9   High Price       1757 non-null   float64
 10  Mostly Low       1654 non-null   float64
 11  Mostly High      1654 non-null   float64
 12  Origin           1752 non-null   object
 13  Origin District  131 non-null    object
 14  Item Size        1478 non-null   object
 15  Color            716 non-null    object
 16  Environment      0 non-null      float64
 17  Unit of Sale     162 non-null    object
 18  Quality          0 non-null      float64
 19  Condition        0 non-null      float64
 20  Appearance       0 non-null      float64
 21  Storage          0 non-null      float64
 22  Crop             0 non-null      float64
 23  Repack           1757 non-null   object
 24  Trans Mode       0 non-null      float64
 25  Offerings        0 non-null      float64
 26  Market Tone      103 non-null    object
 27  Price Comment    0 non-null      float64
 28  Comments         0 non-null      float64
dtypes: float64(15), object(14)
memory usage: 411.8+ KB

In [20]:
data.columns

Index(['Commodity Name', 'City Name', 'Type', 'Package', 'Variety',
       'Sub Variety', 'Grade', 'Date', 'Low Price', 'High Price', 'Mostly Low',
       'Mostly High', 'Origin', 'Origin District', 'Item Size', 'Color',
       'Environment', 'Unit of Sale', 'Quality', 'Condition', 'Appearance',
       'Storage', 'Crop', 'Repack', 'Trans Mode', 'Offerings', 'Market Tone',
       'Price Comment', 'Comments'],
      dtype='object')

In [23]:
## Remove columns surpassing a threshold of missing values as well as those not adding any value

data.dropna(axis=1, thresh=int(0.6*len(data)), inplace=True)
data.drop('Commodity Name', axis=1, inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1757 entries, 0 to 102
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   City Name    1757 non-null   object
 1   Package      1757 non-null   object
 2   Variety      1752 non-null   object
 3   Date         1757 non-null   object
 4   Low Price    1757 non-null   float64
 5   High Price   1757 non-null   float64
 6   Mostly Low   1654 non-null   float64
 7   Mostly High  1654 non-null   float64
 8   Origin       1752 non-null   object
 9   Item Size    1478 non-null   object
 10  Repack       1757 non-null   object
dtypes: float64(4), object(7)
memory usage: 164.7+ KB

In [26]:
#Make date into datetime object

data['Date'] = pd.to_datetime(data['Date'])
data.Date.dtype

dtype('<M8[ns]')